

<div class = "Container"> 
    <div class = "navBar">
        <div class ="logo">
            <img src = "https://cdn-icons.flaticon.com/png/512/4507/premium/4507860.png?token=exp=1646249652~hmac=4866556c85ad1d950c0437c3d6ae0a07">
        </div> 
    </div>
    <div class = "InputBox">
        <input type = "text">
    </div>
    <div class = Routes>
        <a [routerLink] = "['/Home']" routerLinkActive = "active">Home</a>
        <a [routerLink] = "['/Favorites']" routerLinkActive = "active">Favorites</a>
        <a [routerLink] = "['/Admin']" routerLinkActive = "active">Admin</a> 
    </div>
</div>
