

<div class = "Container"> 
    <div class = "navBar">
        <div class ="logo">
            <img src = "https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png" [routerLink] = "['/newSquare']" routerLinkActive = "onForm">
        </div> 
    </div>
    <div class = "InputBox">
        <input type = "text" [(ngModel)]="Query" name = "Query" (keydown)="MakeQuery()" (keyup)="MakeQuery()">
    </div>
    <button class ="search" (click) = "Search()" >&real;earch</button>
    <div class = Routes>
        <a [routerLink] = "['/Home']" routerLinkActive = "active">Home</a>
        <a [routerLink] = "['/Favorites']" routerLinkActive = "active">Favorites</a>
        <a [routerLink] = "['/Admin']" routerLinkActive = "active">Admin</a> 
    </div>
</div>
