<div class = "elem">
    <div class = "Container">
        
        <div class = "Form-Info">
            hello this is info about the form
        </div>

        <div class = "FormContainer" >
            <form #newForm="ngForm" (ngSubmit) = "onSubmit(newForm.value)">
                <div class = "Form">
                    <div class = "Form-Input">
                        <label>Name</label>
                        <input type = "text" [(ngModel)] = "name" name = "name" (keyup)="ChangeName()">
                    </div>
                    <div class = "Form-Input">
                        <label>Color</label>
                        <input type = "text" [(ngModel)] = "Color" name = "Color" (keyup)="ChangeColor()" >
                    </div>
                    <div class = "Form-Input">
                        <label>Votes</label>
                        <input type = "number" [(ngModel)] = "Votes" name = "Votes" (keyup)="ChangeVote()">
                    </div>
                    <div class = "Form-Input">
                        <button type = "submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class = SquareContainer>
        <app-square [(ngModel)] = "square" ngDefaultControl [Square_]= "square"></app-square>
    </div>


</div>