<div class = "Wrapper">
    <div class = "Top">
          this is the admin page
          <br>
          <br>
          Make Requests
    </div>
    <div class = "Container">
        <div class = "Button-Container">
            <button class = "Button" (click) = "getMessage()">getMessage</button>
            <!-- <button class = "Button" (click) = "sendMessage()">sendMessage</button>
            <button class = "Button" (click) = "deleteMessage()">deleteMessage</button> -->
        </div>
    </div>    

    <div class = "Container">
        <div class = "Values" *ngFor="let v of keys ">
            <div class = "Value">
                <div class = "Key">{{v}}</div>
                <div class = "Val">{{Content[v] |currency: v}}</div>
            </div>
           <!-- Value: {{v}} :  {{ Content[v] |currency: v}} -->
        </div>
    </div>

</div>