.elem{
    /* padding-top: 50px; */
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.elem .Container{
    transform: scale(0.8);
}

.Container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 100px;
    box-shadow: -10px -10px 120px rgba(255, 255, 255, 0.6),
    10px 10px 20px rgba(70, 70, 70, 0.4);
}

.Container *{
    color:black;
    font-family: monospace;
    font-size: 20px;
}

.Container .Form-Info{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content:center ;
}

.Container .Form{
    display: flex;
    width: 500px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.Container .Form .Form-Input{
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    /* background-color: wheat; */
}


.Container .Form .Form-Input button{
    display: flex;
    background-color: white;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    box-shadow: -10px -10px 40px rgba(255, 255, 255, 0.6),
    10px 10px 20px rgba(70, 70, 70, 0.4);
    transition: all ease 0.3s;
    margin-left: 15px;
    margin-right: 15px;

}

.Container .Form .Form-Input label{
    width: 100px;
    justify-content: center;
    align-items: center;

}


.Container .Form input{
    display: flex;
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 20px;
    box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.5),
                 7px 7px 10px  rgba(70, 70, 70, 0.5);
    font-family: monospace;

}

.Container .Form input:focus{
    outline: none;
    background-color: white;
} 


.elem .SquareContainer{
    display: flex;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    /* flex-direction: co; */
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.elem .SquareContainer *{
    transform: scale(1.3);
}


.Container .Form .Form-Input button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 0.3s;
 }
 
 .Container .Form .Form-Input em{
    color: #FFA500;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    font-style: normal;
    padding-left: 20px;
    position: absolute;
    right:2px;
    /* display: flex; */
 }