<button (click)="connect()">Connect</button>
<button (click)="disconnect()">disconnect</button>
<button (click)="sendMessage()">SendMessage</button>

<div class = "Grid-Container">
  <div class = "Grid" [ngModel]="Max_" ngDefaultControl>

    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>
    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>
    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>
    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>
    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>
    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>
    <app-square (btnClick)= "UpVote()"  (VoteChange)= "UpdateMax($event)"  [MaxVote]=Max_ > </app-square>

    
  </div>
</div>
